@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --button-size: 60px;
  --back-color: #ccc;
  --text-color: #000;
}

.calc {
  width: fit-content;
  margin: 20px auto;
  background-color: #555;
  border-radius: calc(var(--button-size) * 0.15);
  padding: calc(var(--button-size) * 0.25);
}

.calc-btn {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  width: var(--button-size);
  height: var(--button-size);
  margin: calc(var(--button-size) * 0.25);
  border: 1px solid black;
  border-radius: calc(var(--button-size) * 0.15);
  background-color: var(--back-color);
  color: var(--text-color);
  font-size: var(--button-size);
  line-height: var(--button-size);
}

.spc-key {
  background-color: orange;
  color: white;
}

.calc-screen {
  height: var(--button-size);
  margin: calc(var(--button-size) * 0.25);
  background-color: aquamarine;
  color: #000;
  font-size: var(--button-size);
  line-height: var(--button-size);
  font-family: 'Roboto', sans-serif;
  text-align: end;
}